.login-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: white;
    color: white;
    height: 100%;
}

.left-section {
    flex: 1.5;
    background-color: white;
    height: 100%;
}

.logo h1 {
    padding-top: 50px;
    margin-bottom: 20px;
}

.right-section {
    flex: 1;
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
}

.logo img {
    width: 70%;
    margin-right: 50px;
    height: auto;
}

.logo h1 {
    margin-top: 20px;
    font-size: 60px;
    color: #333;
}

.form-container {
    width: 80%;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
}

.login-container .large-button  {
    background-color: var(--primary-purple);
    width: 80%;
}
.form-body, .form-body form {
    width: 100%;
    padding: 10px 0;
}
.input-container {
    width: 100%;
    margin: 0;
}
.form-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    text-align: center;
}

.form-body {
    margin-top: 20px;
}

.form-body p {
    margin-top: 10px;
    text-align: center;
}

.form-body p a {
    color: blue;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    color: grey;
}

.password-input {
    position: relative;
}

.password-input input {
    width: 60%;
    padding: 10px;
    border: 1px solid grey; /* Border color */
    border-radius: 10px; /* Border radius to make it circular cornered */
    background-color: black; /* Set background color to match the black container */
    color: white; /* Set text color to white */
}

.password-toggle {
    position: absolute;
    top: 50%; /* Center vertically */
    right: 10px; /* Distance from the right */
    transform: translateY(-50%); /* Align center with the input field */
    color: white; /* Icon color */
    cursor: pointer; /* Change cursor to pointer to indicate clickable item */
}

/* The icon within the password toggle element */
.password-toggle i {
    font-size: 1em; /* Icon size */
}


.password-input input::placeholder {
    color: grey; /* Set placeholder text color to grey */
}

.input-container input {
    width: 60%;
    padding: 10px;
    border: 1px solid grey; /* Border color */
    border-radius: 10px; /* Border radius to make it circular cornered */
    background-color: black; /* Set background color to match the black container */
    color: white; /* Set text color to white */
}

.input-container input::placeholder {
    color: grey; /* Set placeholder text color to grey */
}

.login-button {
    width: 65%;
    padding: 10px;
    border: none;
    background-color: #7D3C98; /* Purple background */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.signup-text {
    color: #fff;
    margin-top: 20px;
}

.signup-text a {
    color: #9B59B6; /* Light purple for links */
    text-decoration: none;
}
