.donation-history-container {
  flex: 1;
  border-radius: 20px;
  background-color: var(--light-gray--background);
  display: flex;
  justify-content: center;
  align-items: center; /* Align items in the center vertically */
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.donation-history-card {
  color: var(--med-gray--text)
}
